<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head th:replace="fragments/head :: head"></head>

<body>
    <!-- .app-aside -->
    <aside class="app-aside app-aside-expand-md app-aside-light" th:fragment="aside">
        <!-- .aside-content -->
        <div class="aside-content">
            <!-- .aside-header -->
            <header class="aside-header d-block d-md-none">
                <!-- .btn-account -->
                <button class="btn-account" type="button" data-toggle="collapse" data-target="#dropdown-aside"><span class="account-icon"><span class="fa fa-caret-down fa-lg"></span></span> <span class="account-summary"><span class="account-name" th:text="${user.getUsername()}"></span><span class="account-description">My Account</span></span></button> <!-- /.btn-account -->
                <!-- .dropdown-aside -->
                <div id="dropdown-aside" class="dropdown-aside collapse">
                    <!-- dropdown-items -->
                    <div class="pb-3">
                        <a class="dropdown-item" th:href="@{account-settings}"><span class="dropdown-icon oi oi-person"></span> Settings</a> <a class="dropdown-item" th:href="@{/logout}"><span class="dropdown-icon oi oi-account-logout"></span> Logout</a>
                    </div><!-- /dropdown-items -->
                </div><!-- /.dropdown-aside -->
            </header><!-- /.aside-header -->
            <!-- .aside-menu -->
            <div class="aside-menu overflow-hidden">
                <!-- .stacked-menu -->
                <nav id="stacked-menu" class="stacked-menu">
                    <!-- .menu -->
                    <ul class="menu">
                        <!-- .menu-item -->
                        <li class="menu-item" th:classappend="${user.page.equals('home')} ? 'has-active'">
                            <a href="#" th:href="@{/}" class="menu-link"><span class="menu-icon fas fa-home"></span> <span class="menu-text">Home</span></a>
                        </li><!-- /.menu-item -->
                        <!-- .menu-item -->
                        <li class="menu-item" th:classappend="${user.page.equals('files')} ? 'has-active'">
                            <a href="#" th:href="@{/files}" class="menu-link"><span class="menu-icon far fa-file"></span> <span class="menu-text">My Files</span></a>
                        </li><!-- /.menu-item -->
                        <!-- .menu-item -->
                        <li class="menu-item" th:classappend="${user.page.equals('upload')} ? 'has-active'">
                            <a th:href="@{/upload}" class="menu-link"><span class="menu-icon fas fa-arrow-alt-circle-up"></span> <span class="menu-text">Upload</span></a>
                        </li><!-- /.menu-item -->
                        <!-- .menu-item -->
                        <li class="menu-item" th:classappend="${user.page.equals('account-settings')} ? 'has-active'">
                            <a th:href="@{/account-settings}" class="menu-link"><span class="menu-icon oi oi-wrench"></span> <span class="menu-text">Settings</span></a>
                        </li><!-- /.menu-item -->
                    </ul><!-- /.menu -->
                </nav><!-- /.stacked-menu -->
            </div><!-- /.aside-menu -->
        </div><!-- /.aside-content -->
    </aside><!-- /.app-aside -->

<!-- BEGIN BASE JS -->
<script th:src="@{/assets/vendor/jquery/jquery.min.js}"></script>
<script th:src="@{/assets/vendor/bootstrap/js/popper.min.js}"></script>
<script th:src="@{/assets/vendor/bootstrap/js/bootstrap.min.js}"></script> <!-- END BASE JS -->
<!-- BEGIN PLUGINS JS -->
<script th:src="@{/assets/vendor/pace/pace.min.js}"></script>
<script th:src="@{/assets/vendor/stacked-menu/stacked-menu.min.js}"></script>
<script th:src="@{/assets/vendor/perfect-scrollbar/perfect-scrollbar.min.js}"></script>
<script th:src="@{/assets/vendor/flatpickr/flatpickr.min.js}"></script>
<script th:src="@{/assets/vendor/easy-pie-chart/jquery.easypiechart.min.js}"></script>
<script th:src="@{/assets/vendor/chart.js/Chart.min.js}"></script>
<!-- END PLUGINS JS -->

<!-- BEGIN THEME JS -->
<script th:src="@{/assets/javascript/theme.min.js}"></script>
<!-- END THEME JS -->

<!-- BEGIN PAGE LEVEL JS -->
<!-- END PAGE LEVEL JS -->

</body>
</html>