<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head th:replace="fragments/head :: head"></head>
<body>
<!-- .app -->
<div class="app">
    <!--[if lt IE 10]>
    <div class="page-message" role="alert">You are using an <strong>outdated</strong> browser. Please <a class="alert-link" href="http://browsehappy.com/">upgrade your browser</a> to improve your experience and security.</div>
    <![endif]-->

    <div th:if="${message}" class="page-message" role="alert">
        <span th:text="${message}"></span><a href="#" class="btn btn-sm btn-icon btn-warning ml-1" aria-label="Close" onclick="$(this).parent().fadeOut()"><span aria-hidden="true"><i class="fa fa-times"></i></span></a>
    </div>

    <!-- .app-header -->
    <header th:replace="fragments/app-header :: header"></header>

    <!-- .app-aside -->
    <aside th:replace="fragments/app-aside:: aside"></aside>

    <!-- .app-main -->
    <main class="app-main">
        <!-- .wrapper -->
        <div class="wrapper">
            <!-- .page -->
            <div class="page">
                <!-- .page-inner -->
                <div class="page-inner">
                    <!-- .page-section -->
                    <div class="page-section">
                        <div class="row">
                            <div class="col col-lg-6 col-md-8 xs-12">
                                <div class="card card-fluid">
                                    <h6 class="card-header"> Account Settings </h6><!-- .card-body -->
                                    <div class="card-body">
                                        <!-- form -->
                                        <form id="update-form" action="#" th:object="${accountUpdateForm}" th:action="@{/account-settings}" method="post">
                                            <!-- .form-group -->
                                            <div class="form-group">
                                                <label for="email-input">Email</label>
                                                <input th:field="*{email}" readonly type="email" class="form-control text-muted" id="email-input" value="bent10@looper.com" required="">
                                            </div><!-- /.form-group -->
                                            <!-- .form-group -->
                                            <div class="form-group">
                                                <label for="username-input">Username</label>
                                                <input readonly th:unless="${#fields.hasErrors('{username}')}" th:field="*{username}" type="text" class="form-control text-muted" id="username-input">
                                                <input readonly th:if="${#fields.hasErrors('{username}')}" th:field="*{username}" type="text" class="form-control is-invalid" id="username-input">
                                                <div class="invalid-feedback" >
                                                    <i class="fa fa-exclamation-circle fa-fw"></i>
                                                    <span th:errors="*{username}">Username error</span>
                                                </div>
                                            </div><!-- /.form-group -->
                                            <!-- .form-group -->
                                            <div class="form-group">
                                                <label for="password-current-input">New Password</label>
                                                <input th:unless="${#fields.hasErrors('{newPassword}')}" th:field="*{newPassword}" type="password" class="form-control" id="password-input">
                                                <input th:if="${#fields.hasErrors('{newPassword}')}" th:field="*{newPassword}" type="password" class="form-control is-invalid" id="password-input">
                                                <div id="password-input-feedback" class="invalid-feedback" >
                                                    <i class="fa fa-exclamation-circle fa-fw"></i>
                                                    <span id="password-input-feedback-message" th:errors="*{newPassword}">Username error</span>
                                                </div>
                                            </div>
                                            <!-- .form-group -->
                                            <div class="form-group">
                                                <label for="password-confirm-input">Confirm Password</label>
                                                <input disabled type="password" class="form-control" id="password-confirm-input">
                                                <div class="invalid-feedback" >
                                                    <i class="fa fa-exclamation-circle fa-fw"></i>
                                                    <span>Password and confirm password does not match.</span>
                                                </div>
                                            </div><!-- /.form-group --><!-- /.form-group -->
                                            <hr>
                                            <!-- .form-actions -->
                                            <div class="row">
                                                <div class="col">
                                                <!-- enable submit btn when user type their current password -->
                                                <input th:unless="${#fields.hasErrors('{currentPassword}')}" th:field="*{currentPassword}" type="password" class="form-control mr-3" id="password-current-input" placeholder="Enter Current Password" required>
                                                <input th:if="${#fields.hasErrors('{currentPassword}')}" th:field="*{currentPassword}" type="password" class="form-control mr-3 is-invalid" id="password-current-input" placeholder="Enter Current Password" required>
                                                    <div class="invalid-feedback" >
                                                        <i class="fa fa-exclamation-circle fa-fw"></i>
                                                        <span th:errors="*{currentPassword}"></span>
                                                    </div>
                                                </div>
                                                
                                                <div class="col-auto">
                                                    <button disabled id="update-btn" type="button" onclick="submitUpdate()" class="btn btn-primary text-nowrap ml-auto">Update</button>
                                                </div>

                                            </div><!-- /.form-actions -->

                                        </form><!-- /form -->
                                    </div><!-- /.card-body -->
                                </div>
                            </div>
                        </div>
                    </div><!-- /.page-section -->
                </div><!-- /.page-inner -->
            </div><!-- /.page -->
        </div>

        <!-- .app-footer -->
        <footer th:replace="fragments/app-footer :: footer"></footer>
        <!-- /.wrapper -->
    </main><!-- /.app-main -->
</div><!-- /.app -->
<!-- BEGIN BASE JS -->
<script th:src="@{/assets/vendor/jquery/jquery.min.js}"></script>
<script th:src="@{/assets/vendor/bootstrap/js/popper.min.js}"></script>
<script th:src="@{/assets/vendor/bootstrap/js/bootstrap.min.js}"></script> <!-- END BASE JS -->
<!-- BEGIN PLUGINS JS -->
<script th:src="@{/assets/vendor/pace/pace.min.js}"></script>
<script th:src="@{/assets/vendor/stacked-menu/stacked-menu.min.js}"></script>
<script th:src="@{/assets/vendor/perfect-scrollbar/perfect-scrollbar.min.js}"></script>
<script th:src="@{/assets/vendor/flatpickr/flatpickr.min.js}"></script>
<script th:src="@{/assets/vendor/easy-pie-chart/jquery.easypiechart.min.js}"></script>
<script th:src="@{/assets/vendor/chart.js/Chart.min.js}"></script>
<!-- END PLUGINS JS -->

<!-- BEGIN THEME JS -->
<script th:src="@{/assets/javascript/theme.min.js}"></script>
<!-- END THEME JS -->

<!-- BEGIN PAGE LEVEL JS -->
<script th:src="@{/assets/javascript/pages/account-settings.js}"></script>
<!-- END PAGE LEVEL JS -->

</body>
</html>