<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head th:replace="fragments/head :: head"></head>
<body>

<main class="empty-state">

    <div class="empty-state-container">
        <div class="state-figure">
            <img class="img-fluid" th:src="@{/assets/images/illustration/img-2.svg}" alt="" style="max-width: 320px">
        </div>
        <h3 class="state-header"> Page Not found! </h3>
        <p class="state-description lead text-muted"> Sorry, we've misplaced that URL or it's pointing to something that doesn't exist. </p>
        <div class="state-action">
            <a th:href="@{/}" class="btn btn-lg btn-light"><i class="fa fa-angle-right"></i> Go Home</a>
        </div>
    </div>

</main>


<!-- BEGIN BASE JS -->
<script th:src="@{/assets/vendor/jquery/jquer/y.min.js}"></script>
<script th:src="@{/assets/vendor/bootstrap/js/popper.min.js}"></script>
<script th:src="@{/assets/vendor/bootstrap/js/bootstrap.min.js}"></script> <!-- END BASE JS -->
<!-- BEGIN PLUGINS JS -->
<!-- END PLUGINS JS -->

<!-- BEGIN THEME JS -->
<script th:src="@{/assets/javascript/theme.min.js}"></script>
<!-- END THEME JS -->

<!-- BEGIN PAGE LEVEL JS -->
<!-- END PAGE LEVEL JS -->

</body>
</html>