<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head th:replace="fragments/head :: head"></head>
<body>




    <div class="col file-card" th:each="userFile : ${userFiles}" th:id="${userFile.getId()} + '-card'"
         style="max-width: 340px; min-width: 340px">
        <div class="card">
            <div class="card-body">
                <h3 th:text="${userFile.getFilename()}" class="card-title"></h3>
                <p class="card-text">
                    Size: <strong th:text="${userFile.getSize()}"></strong><br>
                    Downloads: <strong th:text="${userFile.getDownloadCount()}"></strong> <br>
                    Uploaded: <strong th:text="${userFile.getUploadTime()}"></strong> <br>
                    Last Download: <strong th:text="${userFile.getLastDownload()}"></strong> <br>
                </p>

                <hr>

                <div th:if="${userFile.getUrl() == null}">
                    <strong hidden th:id="${userFile.getId()} + '-url-string'"></strong>

                    <hr hidden th:id="${userFile.getId()} + '-url-hr-tag'">

                    <button th:id="${userFile.getId()} + '-url-generate-btn'"
                            th:attr="onclick=|generateFileURL('${userFile.getId()}')|"
                            class="btn btn-info">Generate URL
                    </button>
                    <button th:id="${userFile.getId()} + '-file-delete-btn'"
                            th:attr="onclick=|deleteFile('${userFile.getId()}')|"
                            class="btn btn-danger">Delete File
                    </button>

                </div>

                <div th:if="${userFile.getUrl() != null}">
                    <strong th:id="${userFile.getId()} + '-url-string'"
                            th:text="${userFile.getUrl()}"></strong>

                    <hr th:id="${userFile.getId()} + '-url-hr-tag'">

                    <button th:id="${userFile.getId()} + '-url-copy-btn'"
                            th:attr="onclick=|copyTextToClipboard('${userFile.getUrl()}')|"
                            class="btn btn-info">Copy URL
                    </button>
                    <button th:id="${userFile.getId()} + '-url-remove-btn'"
                            th:attr="onclick=|removeFileURL('${userFile.getId()}')|"
                            class="btn btn-warning">Remove URL
                    </button>
                </div>
            </div>
        </div>
    </div>


<!-- BEGIN BASE JS -->
<script th:src="@{/assets/vendor/jquery/jquery.min.js}"></script>
<script th:src="@{/assets/vendor/bootstrap/js/popper.min.js}"></script>
<script th:src="@{/assets/vendor/bootstrap/js/bootstrap.min.js}"></script>
<!-- END BASE JS -->

<!-- BEGIN PLUGINS JS -->
<script th:src="@{/assets/vendor/pace/pace.min.js}"></script>
<script th:src="@{/assets/vendor/stacked-menu/stacked-menu.min.js}"></script>
<script th:src="@{/assets/vendor/perfect-scrollbar/perfect-scrollbar.min.js}"></script>
<script th:src="@{/assets/vendor/flatpickr/flatpickr.min.js}"></script>
<script th:src="@{/assets/vendor/easy-pie-chart/jquery.easypiechart.min.js}"></script>
<script th:src="@{/assets/vendor/chart.js/Chart.min.js}"></script>
<!-- END PLUGINS JS -->

<!-- BEGIN THEME JS -->
<script th:src="@{/assets/javascript/theme.min.js}"></script>
<!-- END THEME JS -->
</body>
</html>