<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<body>
    <div class="col file-card" th:each="userFile : ${userFiles}" th:id="${userFile.getId()} + '-card'"
         style="max-width: 320px; min-width: 320px">
        <div class="card">
            <div class="card-body">
                <h3 th:text="${userFile.getSerializedFilename()}" class="card-title"></h3>
                <p class="card-text">
                    Size: - <br>
                    Downloads: <strong th:text="${userFile.getDownloadCount()}"></strong>
                    <br>
                    Uploaded: <strong th:text="${userFile.getUploaded()}"></strong> <br>
                    Last Download: <strong th:text="${userFile.getLastDownload()}"></strong>
                    <br>
                </p>

                <hr>

                <div th:if="${userFile.getUrlId() == null}">
                    <strong hidden th:id="${userFile.getId()} + '-url-string'"></strong>

                    <hr hidden th:id="${userFile.getId()} + '-url-hr-tag'">

                    <button th:id="${userFile.getId()} + '-url-generate-btn'"
                            th:attr="onclick=|generateFileURL('${userFile.getId()}')|"
                            class="btn btn-info">Generate URL
                    </button>
                    <button th:id="${userFile.getId()} + '-file-delete-btn'"
                            th:attr="onclick=|deleteFile('${userFile.getId()}')|"
                            class="btn btn-danger">Delete File
                    </button>

                </div>

                <div th:if="${userFile.getUrlId() != null}">
                    <strong th:id="${userFile.getId()} + '-url-string'"
                            th:text="${userFile.getUrl()}"></strong>

                    <hr th:id="${userFile.getId()} + '-url-hr-tag'">

                    <button th:id="${userFile.getId()} + '-url-copy-btn'"
                            th:attr="onclick=|copyTextToClipboard('${userFile.getUrl()}')|"
                            class="btn btn-info">Copy URL
                    </button>
                    <button th:id="${userFile.getId()} + '-url-remove-btn'"
                            th:attr="onclick=|removeFileURL('${userFile.getId()}')|"
                            class="btn btn-warning">Remove URL
                    </button>
                </div>
            </div>
        </div>
    </div>
</body>
</html>