<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head th:replace="fragments/head :: head"></head>
<body>
<!-- .app -->
<div class="app">
    <!--[if lt IE 10]>
    <div class="page-message" role="alert">You are using an <strong>outdated</strong> browser. Please <a
            class="alert-link" href="http://browsehappy.com/">upgrade your browser</a> to improve your experience and
        security.
    </div>
    <![endif]-->

    <!-- .app-header -->
    <header th:replace="fragments/app-header :: header"></header>

    <!-- .app-aside -->
    <aside th:replace="fragments/app-aside :: aside"></aside>

    <!-- .app-main -->
    <main class="app-main">
        <!-- .wrapper -->
        <div class="wrapper">
            <!-- .page -->
            <div class="page">
                <!-- .page-inner -->
                <div class="page-inner">
                    <!-- .page-section -->
                    <div class="page-section">
                        <!-- .section-block -->
                        <div class="section-block">
                            <header class="page-title-bar">
                                <div class="d-flex flex-column flex-md-row">
                                    <p class="lead">
                                        <span>My Files</span><span class="text-primary" th:text="| (${user.getFileCount()})|"></span>
                                    </p>
                                    <form id="dropdown-sort" method="GET" action="#" th:action="@{files}" class="ml-auto">
                                        <div class="row">
                                            <!-- .dropdown -->
                                            <div class="dropdown show col-auto">
                                                <button class="btn btn-secondary" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                                                    <span>Sort by</span>
                                                    <i class="fa fa-fw fa-caret-down"></i>
                                                </button>
                                                <!-- .dropdown-menu -->
                                                <div class="dropdown-menu dropdown-menu-right"
                                                     x-placement="bottom-end"
                                                     style="position: absolute; top: 36px; left: -177px; will-change: top, left;">
                                                    <div class="dropdown-arrow"></div>
                                                    <!-- .custom-control -->
                                                    <div class="custom-control custom-radio">
                                                        <input type="radio" class="custom-control-input" id="dp-sort-item1"
                                                               name="sort" value="upload-time">
                                                        <input th:if="${sortForm.sort.equals('upload-time')}"
                                                               type="radio" class="custom-control-input" id="dp-sort-item1"
                                                               name="sort" value="upload-time" checked>
                                                        <label class="custom-control-label d-flex" for="dp-sort-item1">
                                                            <span>Upload Time</span>
                                                        </label>
                                                    </div><!-- /.custom-control -->
                                                    <div class="custom-control custom-radio">
                                                        <input type="radio" class="custom-control-input" id="dp-sort-item2"
                                                               name="sort" value="download-count">
                                                        <input th:if="${sortForm.sort.equals('download-count')}"
                                                               type="radio" class="custom-control-input" id="dp-sort-item2"
                                                               name="sort" value="download-count" checked>
                                                        <label class="custom-control-label d-flex" for="dp-sort-item2">
                                                            <span>Download Count</span>
                                                        </label>
                                                    </div><!-- /.custom-control -->
                                                    <div class="custom-control custom-radio">
                                                        <input type="radio" class="custom-control-input" id="dp-sort-item3"
                                                               name="sort" value="last-download">
                                                        <input th:if="${sortForm.sort.equals('last-download')}"
                                                               type="radio" class="custom-control-input" id="dp-sort-item3"
                                                               name="sort" value="last-download" checked>
                                                        <label class="custom-control-label d-flex" for="dp-sort-item3">
                                                            <span>Last Download</span>
                                                        </label>
                                                    </div><!-- /.custom-control -->
                                                </div><!-- /.dropdown-menu -->
                                            </div><!-- /.dropdown -->

                                            <div class="dropdown show col-auto">
                                                <button class="btn btn-secondary" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                                                    <span>Order by</span>
                                                    <i class="fa fa-fw fa-caret-down"></i>
                                                </button>
                                                <!-- .dropdown-menu -->
                                                <div class="dropdown-menu dropdown-menu-right"
                                                     x-placement="bottom-end"
                                                     style="position: absolute; top: 36px; left: -177px; will-change: top, left;">
                                                    <div class="dropdown-arrow"></div>
                                                    <!-- .custom-control -->
                                                    <div class="custom-control custom-radio">
                                                        <input type="radio" class="custom-control-input" id="dp-order-item1"
                                                               name="order" value="asc">
                                                        <input th:if="${sortForm.order.equals('asc')}"
                                                               type="radio" class="custom-control-input" id="dp-order-item1"
                                                               name="order" value="asc" checked>
                                                        <label class="custom-control-label d-flex" for="dp-order-item1">
                                                            <span>Ascending</span>
                                                        </label>
                                                    </div><!-- /.custom-control -->
                                                    <div class="custom-control custom-radio">
                                                        <input type="radio" class="custom-control-input" id="dp-order-item2"
                                                               name="order" value="desc">
                                                        <input th:if="${sortForm.order.equals('desc')}"
                                                               type="radio" class="custom-control-input" id="dp-order-item2"
                                                               name="order" value="desc" checked>
                                                        <label class="custom-control-label d-flex" for="dp-order-item2">
                                                            <span>Descending</span>
                                                        </label>
                                                    </div><!-- /.custom-control -->
                                                </div><!-- /.dropdown-menu -->
                                            </div><!-- /.dropdown -->
                                        </div>
                                    </form>
                                </div>
                            </header>
                            <div class="file-container row">
                                <div th:if="${user.getFileCount() <= 0}">
                                    <p>It seems like you don't have any files yet.</p>
                                    <p><a class="btn btn-primary" role="button" href="#" th:href="@{/upload}">Upload Files</a></p>
                                </div>

                            <!-- Auto load elements (infinite-scroll) -->
                            </div>

                            <div class="page-load-status row justify-content-center">
                                <p class="infinite-scroll-request">Loading...</p>
                            </div>

                        </div><!-- /.section-block -->
                    </div><!-- /.page-section -->
                </div><!-- /.page-inner -->
            </div><!-- /.page -->
        </div>
        <!-- .app-footer -->
        <footer th:replace="fragments/app-footer :: footer"></footer>
        <!-- /.wrapper -->
    </main><!-- /.app-main -->
</div><!-- /.app -->

<!-- BEGIN BASE JS -->
<script th:src="@{/assets/vendor/jquery/jquery.min.js}"></script>
<script th:src="@{/assets/vendor/bootstrap/js/popper.min.js}"></script>
<script th:src="@{/assets/vendor/bootstrap/js/bootstrap.min.js}"></script> <!-- END BASE JS -->
<!-- BEGIN PLUGINS JS -->
<script th:src="@{/assets/vendor/pace/pace.min.js}"></script>
<script th:src="@{/assets/vendor/stacked-menu/stacked-menu.min.js}"></script>
<script th:src="@{/assets/vendor/perfect-scrollbar/perfect-scrollbar.min.js}"></script>
<script th:src="@{/assets/vendor/flatpickr/flatpickr.min.js}"></script>
<script th:src="@{/assets/vendor/easy-pie-chart/jquery.easypiechart.min.js}"></script>
<script th:src="@{/assets/vendor/chart.js/Chart.min.js}"></script>
<script th:src="@{/assets/javascript/infinite-scroll.pkgd.min.js}"></script>
<script th:src="@{/assets/javascript/userfile-interface.js}"></script>
<!-- END PLUGINS JS -->

<!-- BEGIN THEME JS -->
<script th:src="@{/assets/javascript/theme.min.js}"></script>
<!-- END THEME JS -->

<!-- BEGIN PAGE LEVEL JS -->
<script th:src="@{/assets/javascript/pages/files.js}"></script>
<!-- END PAGE LEVEL JS -->
</body>
</html>