<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head th:replace="fragments/head :: head"></head>
<body>
<!-- .auth -->
<main class="auth">
  <!-- form -->
  <form method="POST" th:object="${user}" th:action="@{/password-recovery}" class="auth-form auth-form-reflow">
    <div class="text-center mb-4">
      <div class="mb-4">
        <img class="rounded" th:src="@{/assets/apple-touch-icon.png}" alt="" height="72">
      </div>
      <h1 class="h3">Reset Your Password</h1>
    </div>

    <p class="mb-4">Please enter your e-mail address to reset your password. </p>

    <!-- .form-group -->
    <div class="form-group mb-4">
      <label class="d-block text-left" for="inputEmail">E-mail</label>
      <input th:unless="${#fields.hasErrors('email')}" th:field="*{email}" type="email" id="inputEmail" class="form-control form-control-lg" required autofocus>
      <input th:if="${#fields.hasErrors('email')}" th:field="*{email}" type="email" id="inputEmail" class="form-control form-control-lg is-invalid" required autofocus>
      <div class="invalid-feedback" >
        <i class="fa fa-exclamation-circle fa-fw"></i>
        <span th:errors="*{email}">Email error</span>
      </div>
    </div>
    <!-- /.form-group -->

    <!-- actions -->
    <div class="d-block d-md-inline-block mb-2">
      <button class="btn btn-lg btn-block btn-primary" type="submit">Reset Password</button>
    </div>
    <div class="d-block d-md-inline-block">
      <a href="@{/login}" class="btn btn-block btn-light">Cancel</a>
    </div>
  </form>
  <!-- /.auth-form -->

  <footer class="auth-footer mt-5">&copy; <span th:text="${#dates.format(#dates.createNow(), 'yyyy.')}"></span> All Rights Reserved. </footer>
</main>
<!-- /.auth -->


<!-- BEGIN BASE JS -->
<script th:src="@{/assets/vendor/jquery/jquery.min.js}"></script>
<script th:src="@{/assets/vendor/bootstrap/js/popper.min.js}"></script>
<script th:src="@{/assets/vendor/bootstrap/js/bootstrap.min.js}"></script>
<!-- END BASE JS -->

<!-- BEGIN THEME JS -->
<script th:src="@{assets/javascript/theme.min.js}"></script>
<!-- END THEME JS -->
</body>
</html>