<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head th:replace="fragments/head :: head"></head>
<body>
<!-- .app -->
<div class="app">
    <!--[if lt IE 10]>
    <div class="page-message" role="alert">You are using an <strong>outdated</strong> browser. Please <a class="alert-link" href="http://browsehappy.com/">upgrade your browser</a> to improve your experience and security.</div>
    <![endif]-->

    <div th:if="${message}" class="page-message" role="alert">
        <span th:text="${message}"></span><a href="#" class="btn btn-sm btn-icon btn-warning ml-1" aria-label="Close" onclick="$(this).parent().fadeOut()"><span aria-hidden="true"><i class="fa fa-times"></i></span></a>
    </div>

    <!-- .app-header -->
    <header th:replace="fragments/app-header :: header"></header>

    <!-- .app-aside -->
    <aside th:replace="fragments/app-aside :: aside"></aside>

    <!-- .app-main -->
    <main class="app-main">
        <!-- .wrapper -->
        <div class="wrapper">
            <!-- .page -->
            <div class="page">
                <!-- .page-inner -->
                <div class="page-inner">
                    <!-- .page-section -->
                    <div class="page-section">
                        <!-- .section-block -->
                        <div class="section-block">
                            <!-- page content goes here -->
                            <div class="row justify-content-center">
                                <div class="col">
                                    <div class="card" style="min-width:400px;min-height:220px">
                                        <div id="upload-card-body" class="card-body">

                                                <form class="dropzone" id="upload-form" method="POST" enctype="multipart/form-data" action="#" th:action="@{/upload}">

                                                    <br>

                                                    <div class="dz-default dz-message">
                                                        <button type="button" id="upload-btn" class="btn btn-primary btn-lg">
                                                            Select files to upload
                                                        </button>
                                                        <br><br>
                                                        <p class="text-muted">Or drag and drop files</p>
                                                    </div>

                                                </form>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- /.section-block -->
                    </div>
                    <!-- /.page-section -->
                </div><!-- /.page-inner -->
            </div><!-- /.page -->
        </div>

        <!-- .app-footer -->
        <footer th:replace="fragments/app-footer :: footer"></footer>

        <!-- /.wrapper -->
    </main><!-- /.app-main -->
</div><!-- /.app -->
<!-- BEGIN BASE JS -->
<script src="assets/vendor/jquery/jquery.min.js"></script>
<script src="assets/vendor/bootstrap/js/popper.min.js"></script>
<script src="assets/vendor/bootstrap/js/bootstrap.min.js"></script> <!-- END BASE JS -->
<!-- BEGIN PLUGINS JS -->
<script src="assets/vendor/pace/pace.min.js"></script>
<script src="assets/vendor/stacked-menu/stacked-menu.min.js"></script>
<script src="assets/vendor/perfect-scrollbar/perfect-scrollbar.min.js"></script>
<script src="assets/vendor/flatpickr/flatpickr.min.js"></script>
<script src="assets/vendor/easy-pie-chart/jquery.easypiechart.min.js"></script>
<script src="assets/vendor/chart.js/Chart.min.js"></script>
<script src="assets/javascript/dropzone.js"></script>
<!-- END PLUGINS JS -->
<!-- BEGIN THEME JS -->
<script src="assets/javascript/theme.min.js"></script> <!-- END THEME JS -->
<!-- BEGIN PAGE LEVEL JS -->
<script src="assets/javascript/pages/upload.js"></script> <!-- END PAGE LEVEL JS -->
</body>
</html>